#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     5,1,1,0
 PRODUCTVERSION  5,1,1,0
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
 FILEFLAGS       0
 FILEOS          VOS__WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "N/A\0"
            VALUE "ProductName",      "QtAdvancedDockingSystem\0"
            VALUE "FileDescription",  "QtAdvancedDockingSystem\0"
            VALUE "FileVersion",      "5.1.1\0"
            VALUE "ProductVersion",   "5.1.1\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
