Makefile
.qmake.stash
*.obj
moc
rcc
bin
html
plugins
resources
Doxygen.log

qt.natvis

*.dll.recipe

*.log
*.tlog
*.qtvscr
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.vcxproj.FileListAbsolute.txt

*.swp
**/x64/
**/.vs/